/*FUENTES*/

@font-face{
	font-family: "";
	src: url("") format(""); 
}

/*VARIABLES*/

:root{}

/*CSS COMUN*/

*{
	box-sizing: border-box;
}

body{

	margin: 0px;
	padding: 0px;
	background: url("../rsc/img/fondo.png") no-repeat center center, linear-gradient(180deg, black, black, #00054f);
	background-size: cover;

}

.boton, .boton2, .botonfly{
	z-index: 3;
	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	text-decoration: none;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	transition: 0.5s;
}

.menucillo{

	height: 100vh;

}
.navbar{

	position: fixed;
	width: 100%;
}
.hamburguesa{

	background-color: white;
	
}
.listita{
	color: white; 
	font-size: 20px;
}
.navegacion{

	width: 100%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	position: fixed;
}

.sombra{

	width: 100%;
    background-image: linear-gradient(#0E0E0E, transparent);
    opacity: 0.7;
    z-index: 1;
    position: fixed;
}

.lunita{

	width: 100%;
	z-index: 0;
	position: absolute;
	animation-name: aterrizaje;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.sleap{
	position: absolute;
	text-align: center;
	color: white;
	font-family: Michroma;
	margin: 0px;
	padding: 0px;
}

.navegacion .menu a{
	text-decoration: none;
	color: white;
}

a{
	text-decoration: none;
	color: white !important;
}

.navegacion .menu ul{
	list-style: none;
	font-size: bold;
	font-family: poppins;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin: 60px 90px 0px 0px;
	height: 60px;

}

ul{
	list-style: none;
	color: white;
	font-size: bold;
	font-family: poppins;
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

li{

	margin-left: 50px;
	transition: 0.5s;
	background: url(../rsc/img/orbita.png) no-repeat center center;
	background-size: contain;
	height: 0px;
	display: flex;
	align-items: center;
}

li:hover{

height: 60px;
}

.boton:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
	text-decoration: none;
}
.boton2:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
	text-decoration: none;
}
.botonfly:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
}

.titulo{

	position: absolute;
	top: 40%;
	left: 50%; 
	transform: translate(-50%, -50%);
	color: white;
	font-family: Michroma;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.cita1{

	display: flex;
	justify-content: center;
	position: relative;
}
.tierraytitulo{

	display: flex;
	justify-content: flex-end;
}

.cita{
	color: white;
	font-family: Michroma;
	text-align: left;
	padding: 0px;
}

.joseph{
	color: white;
	font-family: poppins;
	position: absolute;
}
.cajadiscover{
	width: 100%;
	display: flex;
	justify-content: center;
}
.discover1{
	color: white;
	text-align: center;
	font-family: Michroma;
}
.discover{
	color: white;
	text-align: left;
	font-family: Michroma;
}
.steps{
	display: flex;
}
.step1, .step2, .step3{

	font-family: Poppins; 
	color: white;
}

h5{

	font-family: Michroma;
	margin: 0px;
	padding: 0px;
}

.novaytexto{
	position: relative;
}
.supernova{

	position: absolute;
}
.flytothemoon{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.formtitle{
	color: white;
	text-align: left;
	font-family: Michroma;
}
.formulario{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.discovertext{
	color: white;
	font-family: Poppins; 
}
.espaciotexto{
	width: 100%;
	background: transparent;
	color: white;
	font-family: poppins;
	border-top: none; 
	border-right: none; 
	border-left: none;
	border-bottom: solid 1px;
}
.etiquetilla{
	background: transparent;
	color: white;
	font-family: poppins;
	border: none;
}
.nodesign{
    width: 100%;
    padding: 5px;
    line-height: 1;
    border: 0;
    background: url("../rsc/img/chevron_Mesa de trabajo 1.png") no-repeat right;
    background-size: contain;
    -webkit-appearance: none;
    border-bottom: solid 1px;
    color: white;
    background-position-x: 600px;
}
.footer{
	width: 100%;

}

/* RESPONSIVE */

/* SMART TV */
@media screen and (min-width: 1367px){

.navegacion{
	height: 100px;
}

.navbar{
	display: none !important;
}

.sombra{
	height: 160px;
}

.logotipo{
	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	margin: 60px 90px 0px 0px;
	height: 60px;
}

li{
	margin-left: 50px;
	height: 0px;
}

li:hover{
height: 60px;

}

.titulo{
	position: absolute;
	top: 40%;
	left: 50%; 
	font-size: 64px;
	transform: translate(-50%, -50%);
	letter-spacing: 20px;
	margin: 0px;
	padding: 0px;
	width: 80%;
}

.sleap{
	position: absolute;
	top: 55%;
	left: 50%; 
	transform: translate(-50%, -50%);
	font-size: 48px;
	width: 40%;
	margin: 0px;
	padding: 0px;
}


.boton{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}

.boton2{
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	position: relative;
  	left: 50%;
  	transform: translateX(-50%); 
}

.botonfly{
	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 140px 0px 0px;
}

.cita{
	width: 50%;
	font-size: 40px;
	margin-top: 1260px;
	line-height: 60px;
}

.joseph{
	top: 100%;
	left: 62%;
	font-size: 24px;
}

.tierra{
	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}

.cajadiscover{
	margin-bottom: 60px;
}

.discover1{
	width: 550px;
	margin: 200px 0px 0px 0px;
	font-size: 40px;
}

.discover{
	width: 550px;
	margin: 500px 0px 0px 200px;
	font-size: 40px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}

.step1, .step2, .step3{
	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	line-height: 24px;
}
h5{
	font-size: 24px;
}

.supernova{
	width: 750px;
	left: -150px;
	top: -200px;
}

.flytothemoon{
	margin-left: 400px;
	margin-bottom: 200px;
}

.voyager{
	margin-left: 1000px;
	width: 30%;
}

.formtitle{
	width: 550px;
	font-size: 30px;
	margin-left: 160px;
	letter-spacing: 5px;
}

.formulario{
	margin: 0px 0px 0px 160px;
	width: 60%;
}

.discovertext{
	width: 500px;
	margin: 60px 0px 0px 170px;
	font-size: 16px;
	line-height: 24px;
}

.espaciotexto{
	font-size: 24px;
	margin-top: 5px;
}

.etiquetilla{
	width: 100%;
	font-size: 16px;
	margin-top: 30px;
}

.nodesign{
    height: 34px;
    background-position-x: 600px;
}

}

/* LAPTOP/DESKTOP */
@media screen and (max-width: 1652px){

.navegacion{

	height: 100px;
}
.navbar{
	display: none;
}

.sombra{

	height: 130px;
 
}

.logotipo{

	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	margin: 60px 90px 0px 0px;
	height: 60px;

}


li{

	margin-left: 50px;
	transition: 0.5s;
	background: url(../rsc/img/orbita.png) no-repeat center center;
	background-size: contain;
	height: 0px;
}

li:hover{

height: 60px;

}

.titulo{

	top: 40%;
	font-size: 54px;
	transform: translate(-50%, -50%);
	letter-spacing: 20px;
	width: 80%;
}

.sleap{
	left: 50%; 
	font-size: 40px;
	width: 35%;
}

.boton{
	top: 70%;
}

.boton2{
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	left: 50%;
  	transform: translateX(-50%); 
}

.botonfly{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	cursor: pointer;
  	margin: 60px 140px 0px 0px;
}

.joseph{
	top: 100%;
	left: 62%;
	font-size: 24px;
}

.cajadiscover{
	margin-bottom: 60px;
}
.discover1{
	width: 550px;
	color: white;
	text-align: center;
	margin: 200px 0px 0px 0px;
	font-family: Michroma;
	font-size: 40px;
}

.discover{
	width: 550px;
	color: white;
	text-align: left;
	margin: 500px 0px 0px 200px;
	font-family: Michroma;
	font-size: 40px;
}

.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}


h5{

	font-size: 24px;
	font-family: Michroma;
	margin: 0px;
	padding: 0px;
}

.novaytexto{

	position: relative;

}
.supernova{

	width: 750px;
	position: absolute;
	left: -150px;
	top: -200px;

}

.flytothemoon{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 400px;
	margin-bottom: 200px;
}

.voyager{

margin-left: 1000px;
width: 30%;
}

.formtitle{
	width: 550px;
	color: white;
	text-align: left;
	font-family: Michroma;
	font-size: 30px;
	margin-left: 160px;
	letter-spacing: 5px;
}

.formulario{

	display: flex;
	margin: 0px 0px 0px 160px;
	width: 60%;
	align-items: flex-start;
	flex-direction: column;

}

.discovertext{

	color: white;
	width: 500px;
	margin: 60px 0px 0px 170px;
	font-size: 16px;
	font-family: Poppins; 
	color: white;
	line-height: 24px;

}

.espaciotexto{

	width: 100%;
	background: transparent;
	color: white;
	font-family: poppins;
	font-size: 24px;
	border-top: none; 
	border-right: none; 
	border-left: none;
	margin-top: 5px;
	border-bottom: solid 1px;
}

.etiquetilla{
	width: 100%;
	background: transparent;
	color: white;
	font-family: poppins;
	font-size: 16px;
	border: none;
	margin-top: 30px;

}

.nodesign{
    width: 100%;
    padding: 5px;
    line-height: 1;
    border: 0;
    height: 34px;
    background: url("../rsc/img/chevron_Mesa de trabajo 1.png") no-repeat right;
    background-size: contain;
    -webkit-appearance: none;
    border-bottom: solid 1px;
    color: white;
    background-position-x: 100px;
}

.footer{
	width: 100%;

}
}

/* TABLET */
@media screen and (max-width: 1576px){

.navbar{
	display: none;
}

.sombra{

	height: 130px;
 
}

.logotipo{

	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	list-style: none;
	color: white;
	font-size: bold;
	font-family: poppins;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin: 60px 90px 0px 0px;
	height: 60px;

}


li{

	margin-left: 50px;
	transition: 0.5s;
	background: url(../rsc/img/orbita.png) no-repeat center center;
	background-size: contain;
	height: 0px;
	display: flex;
	align-items: center;
}

li:hover{

height: 60px;
}

a{
	text-decoration: none;
	color: white;
}

.lunita{

	width: 100%;
	z-index: 0;
	position: absolute;
	animation-name: aterrizaje;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}



.titulo{

	position: absolute;
	top: 40%;
	left: 50%; 
	font-size: 54px;
	transform: translate(-50%, -50%);
	color: white;
	letter-spacing: 20px;
	font-family: Michroma;
	text-align: center;
	margin: 0px;
	padding: 0px;
	width: 80%;

}
.sleap{

	position: absolute;
	top: 55%;
	left: 50%; 
	transform: translate(-50%, -50%);
	color: white;
	font-family: Michroma;
	text-align: center;
	font-size: 40px;
	width: 36%;
	margin: 0px;
	padding: 0px;

}
.boton{

	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12px;
  	margin: 4px 2px;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	transition: 0.5s;
  	padding: 15px 30px 15px 30px;
}

.boton:hover{

	box-shadow: 0px 0px 6px 1px #CBBEB5; 

}

.boton2{

	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	text-decoration: none;
  	font-size: 12px;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	position: relative;
  	left: 50%;
  	transform: translateX(-50%); 
  	transition: 0.5s;
}

.boton2:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
}


.botonfly{

	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	text-decoration: none;
  	font-size: 12px;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	transition: 0.5s;
  	margin: 60px 140px 0px 0px;

}

.botonfly:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
}

.cita1{

	display: flex;
	justify-content: center;
	position: relative;
}

.cita{
	width: 50%;
	font-size: 40px;
	margin-top: 1260px;
	color: white;
	font-family: Michroma;
	line-height: 60px;
	text-align: left;
	padding: 0px;

}
.joseph{
	color: white;
	font-family: poppins;
	position: absolute;
	top: 100%;
	left: 62%;
	font-size: 24px;

}

.tierraytitulo{

	display: flex;
	justify-content: flex-end;

}
.tierra{

	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}
.cajadiscover{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

}
.discover1{
	
	width: 550px;
	color: white;
	text-align: center;
	margin: 200px 0px 0px 0px;
	font-family: Michroma;
	font-size: 40px;

}

.discover{
	
	width: 550px;
	color: white;
	text-align: left;
	margin: 500px 0px 0px 200px;
	font-family: Michroma;
	font-size: 40px;

}

.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{

	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	font-family: Poppins; 
	color: white;
	line-height: 24px;
}
h5{

	font-size: 24px;
	font-family: Michroma;
	margin: 0px;
	padding: 0px;
}

.novaytexto{

	position: relative;

}
.supernova{

	width: 750px;
	position: absolute;
	left: -150px;
	top: -200px;

}

.flytothemoon{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 400px;
	margin-bottom: 200px;
}

.voyager{

margin-left: 1000px;
width: 30%;
}
.formtitle{
	width: 550px;
	color: white;
	text-align: left;
	font-family: Michroma;
	font-size: 30px;
	margin-left: 160px;
	letter-spacing: 5px;
}

.formulario{

	display: flex;
	margin: 0px 0px 0px 160px;
	width: 60%;
	align-items: flex-start;
	flex-direction: column;

}

.discovertext{

	color: white;
	width: 500px;
	margin: 60px 0px 0px 170px;
	font-size: 16px;
	font-family: Poppins; 
	color: white;
	line-height: 24px;

}

.espaciotexto{

	width: 100%;
	background: transparent;
	color: white;
	font-family: poppins;
	font-size: 24px;
	border-top: none; 
	border-right: none; 
	border-left: none;
	margin-top: 5px;
	border-bottom: solid 1px;
}

.etiquetilla{
	width: 100%;
	background: transparent;
	color: white;
	font-family: poppins;
	font-size: 16px;
	border: none;
	margin-top: 30px;

}

.nodesign{
    width: 100%;
    padding: 5px;
    line-height: 1;
    border: 0;
    height: 34px;
    background: url("../rsc/img/chevron_Mesa de trabajo 1.png") no-repeat right;
    background-size: contain;
    -webkit-appearance: none;
    border-bottom: solid 1px;
    color: white;
    background-position-x: 100px;
}

}
/* TABLET2 */
@media screen and (max-width: 1457px){

.navbar{
	display: none;
}

.sombra{

	height: 130px;

}

.logotipo{

	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	list-style: none;
	color: white;
	font-size: bold;
	font-family: poppins;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin: 60px 90px 0px 0px;
	height: 60px;

}


li{

	margin-left: 50px;
	transition: 0.5s;
	background: url(../rsc/img/orbita.png) no-repeat center center;
	background-size: contain;
	height: 0px;
	display: flex;
	align-items: center;
}

li:hover{

height: 60px;
}

a{
	text-decoration: none;
	color: white;
}

.lunita{

	width: 100%;
	z-index: 0;
	position: absolute;
	top: 120px;
	animation-name: aterrizaje;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}



.titulo{

	position: absolute;
	top: 40%;
	left: 50%; 
	font-size: 54px;
	transform: translate(-50%, -50%);
	color: white;
	letter-spacing: 10px;
	font-family: Michroma;
	text-align: center;
	margin: 0px;
	padding: 0px;
	width: 80%;

}
.sleap{

	position: absolute;
	top: 55%;
	left: 50%; 
	transform: translate(-50%, -50%);
	color: white;
	font-family: Michroma;
	text-align: center;
	font-size: 40px;
	width: 38%;
	margin: 0px;
	padding: 0px;

}

.boton{

	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12px;
  	margin: 4px 2px;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	transition: 0.5s;
  	padding: 15px 30px 15px 30px;
}

.boton:hover{

	box-shadow: 0px 0px 6px 1px #CBBEB5; 

}

.boton2{

	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	text-decoration: none;
  	font-size: 12px;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	position: relative;
  	left: 50%;
  	transform: translateX(-50%); 
  	transition: 0.5s;
}

.boton2:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
}


.botonfly{

	border: solid 1px;
  	color: white;
  	text-align: center;
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	text-decoration: none;
  	font-size: 12px;
  	cursor: pointer;
  	background-color: black;
  	opacity: 0.7;
  	transition: 0.5s;
  	margin: 60px 140px 0px 0px;

}

.botonfly:hover{
	box-shadow: 0px 0px 6px 2px #CBBEB5; 
}

.cita1{

	display: flex;
	justify-content: center;
	position: relative;
}

.cita{
	width: 60%;
	font-size: 40px;
	margin-top: 1260px;
	color: white;
	font-family: Michroma;
	line-height: 60px;
	text-align: left;
	padding: 0px;

}
.joseph{
	color: white;
	font-family: poppins;
	position: absolute;
	top: 100%;
	left: 62%;
	font-size: 24px;

}

.tierraytitulo{

	display: flex;
	justify-content: flex-end;

}
.tierra{

	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}
.cajadiscover{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;

}
.discover1{
	
	width: 550px;
	color: white;
	text-align: center;
	margin: 200px 0px 0px 0px;
	font-family: Michroma;
	font-size: 40px;

}

.discover{
	
	width: 550px;
	color: white;
	text-align: left;
	margin: 500px 0px 0px 200px;
	font-family: Michroma;
	font-size: 40px;

}

.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{

	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	font-family: Poppins; 
	color: white;
	line-height: 24px;
}

.flytothemoon{
	margin-left: 400px;
	margin-bottom: 200px;
}

.voyager{
margin-left: 900px;
width: 30%;
}

.formtitle{
	width: 550px;
	font-size: 30px;
	margin-left: 160px;
	letter-spacing: 5px;
}

.formulario{
	margin: 0px 0px 0px 160px;
	width: 60%;
}

.discovertext{
	width: 500px;
	margin: 60px 0px 0px 170px;
	font-size: 16px;
	line-height: 24px;
}
.etiquetilla{
	font-size: 16px;
	margin-top: 30px;
}

}

/*LAPTOP1440*/

@media screen and (max-width: 1440px){

.sleap{
	top: 57%;
	font-size: 26px;
	width: 80%;
}
.titulo{
	top: 49%;
	font-size: 55px;
	letter-spacing: 10px;
	width: 80%;
}

}

/* TABLET4 */
@media screen and (max-width: 1066px){

.navbar{
	display: none;
}

.sleap{
	font-size: 25px !important;
}

.sombra{
	height: 130px;
}

.logotipo{
	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	margin: 60px 90px 0px 0px;
	height: 60px;
}

li{
	margin-left: 50px;
	height: 0px;
}

.sleap{
	font-size: 40px;
	width: 38%;
}
.boton{
	top: 67%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}

.boton2{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
}

.botonfly{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 140px 0px 0px;
}

.cita1{
	display: flex;
	justify-content: center;
	position: relative;
}

.tierra{
	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}
.cajadiscover{
	margin-bottom: 60px;
}
.discover1{
	width: 550px;
	margin: 200px 0px 0px 0px;
	font-size: 40px;
}
.discover{
	width: 550px;
	margin: 500px 0px 0px 0px;
	font-size: 40px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{
	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	line-height: 24px;
}
.novaytexto{
	position: relative;
}
.supernova{
	width: 150px;
	left: -150px;
	top: -200px;
}

.voyager{
	margin-left: 800px;
	width: 30%;
}

.formtitle{
	width: 550px;
	font-size: 30px;
	margin-left: 60px;
	letter-spacing: 5px;
}

.formulario{
	margin: 0px 0px 0px 60px;
	width: 60%;
}
.discovertext{
	width: 500px;
	margin: 60px 0px 0px 170px;
	font-size: 16px;
	line-height: 24px;
}
.espaciotexto{
	width: 100%;
	font-size: 24px;
	margin-top: 5px;
	border-bottom: solid 1px;
}
.etiquetilla{
	width: 100%;
	font-size: 16px;
	margin-top: 30px;
}
.nodesign{
    width: 100%;
    padding: 5px;
    line-height: 1;
    border: 0;
    height: 34px;
    -webkit-appearance: none;
    background-position-x: 100px;
}

}

/* TABLET4 */
@media screen and (max-width: 1092px){

/*=====================================================
  NAV
  =====================================================*/

.navbar{
	display: none !important;
}

.sombra{

	height: 130px;
}

.logotipo{

	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	list-style: none;
	color: white;
	font-size: bold;
	font-family: poppins;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin: 60px 90px 0px 0px;
	height: 60px;

}


li{

	margin-left: 50px;
	transition: 0.5s;
	background: url(../rsc/img/orbita.png) no-repeat center center;
	background-size: contain;
	height: 0px;
	display: flex;
	align-items: center;
}

li:hover{

height: 60px;
}

a{
	text-decoration: none;
	color: white;
}

/*=====================================================

  =====================================================*/

/*=====================================================
  LUNA
  =====================================================*/

.lunita{

	width: 100%;
	z-index: 0;
	position: absolute;
	top: 120px;
	animation-name: aterrizaje;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.titulo{
	top: 40%;
	left: 50%; 
	font-size: 44px !important;
	transform: translate(-50%, -50%);
	letter-spacing: 10px;
	width: 80%;
}
.sleap{
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	font-size: 30px;
	width: 38%;
}
.boton{
	top: 63%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}
.boton2{
	border: solid 1px;
  	text-align: center;
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	left: 50%;
}
.botonfly{
	width: 190px;
  	letter-spacing: 3px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 300px 0px 0px;
}
.cita{
	width: 60%;
	font-size: 32px;
	margin-top: 1260px;
	line-height: 60px;
}
.joseph{
	top: 100%;
	left: 62%;
	font-size: 24px;
}
.tierra{
	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}

.discover1{
	width: 550px;
	margin: 200px 0px 0px 0px;
	font-size: 40px;
}
.discover{
	width: 550px;
	margin: 300px 0px 0px 25px;
	font-size: 40px;
}
.discovertext{
	width: 500px;
	margin: 60px 0px 0px 0px;
	font-size: 16px;
	line-height: 24px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{
	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	line-height: 24px;
}
h5{
	font-size: 24px;
}

.novaytexto{

	position: relative;

}
.supernova{
	width: 500px;
	left: -60px;
	top: -20%;
}

.voyager{

margin-left: 700px;
width: 30%;
}

.formtitle{
	width: 550px;
	font-size: 30px;
	margin-left: 60px;
	letter-spacing: 5px;
}
.formulario{
	margin: 0px 0px 0px 60px;
	width: 60%;
}

.espaciotexto{
	width: 100%;
	font-size: 24px;
	margin-top: 5px;
}

.etiquetilla{
	width: 100%;
	font-size: 16px;
	margin-top: 30px;
}
.nodesign{
    width: 100%;
    padding: 5px;
    line-height: 1;
    height: 34px;
    background-position-x: 100px;
}

}

/* TABLET6 */
@media screen and (max-width: 1024px){

.navbar{
	display: none;
}
.sombra{
	height: 130px;
}

.logotipo{

	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	margin: 60px 60px 0px 0px;
	height: 60px;
}
li{
	margin-left: 30px;
	height: 0px;
}
.lunita{
	width: 100%;
	z-index: 0;
	top: 120px;
}
.titulo{
	top: 40%;
	font-size: 54px;
	letter-spacing: 10px;
	width: 80%;
}
.sleap{
	top: 55%;
	font-size: 40px;
	width: 38%;
}
.boton{
	top: 67%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}
.boton2{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	left: 50%;
  	transform: translateX(-50%); 
}
.botonfly{
	width: 190px;
  	letter-spacing: 3px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 300px 0px 0px;
}
.cita{
	width: 60%;
	font-size: 32px;
	margin-top: 1260px;
	line-height: 60px;
}
.joseph{
	top: 100%;
	left: 62%;
	font-size: 24px;
}
.tierra{

	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}

.cajadiscover{
	margin-bottom: 60px;
}
.discover1{
	width: 550px;
	margin: 200px 0px 0px 0px;
	font-size: 40px;
}
.discover{
	width: 550px;
	margin: 300px 0px 0px 25px;
	font-size: 40px;
}
.discovertext{
	width: 500px;
	margin: 60px 0px 0px 0px;
	font-size: 16px;
	line-height: 24px;
}
.step1, .step2, .step3{
	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	line-height: 24px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.supernova{
	width: 500px;
	left: -60px;
	top: -20%;
}
.voyager{
margin-left: 700px;
width: 30%;
}
.formtitle{
	width: 550px;
	font-size: 30px;
	margin-left: 60px;
	letter-spacing: 5px;
}
.formulario{
	margin: 0px 0px 0px 60px;
	width: 60%;
}
.espaciotexto{
	width: 100%;
	font-size: 24px;
	margin-top: 5px;
}

.etiquetilla{
	width: 100%;
	font-size: 16px;
	margin-top: 30px;
}
.nodesign{
    width: 100%;
    padding: 5px;
    line-height: 1;
    height: 34px;
    background-position-x: 100px;
}

}
/* TABLET5 */
@media screen and (max-width: 1056px){

.navbar{
	display: none;
}
.sombra{
	height: 130px;
}

.logotipo{
	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	margin: 60px 60px 0px 0px;
	height: 60px;
}
li{
	margin-left: 50px;
	height: 0px;
}
.lunita{
	width: 100%;
	z-index: 0;
	top: 120px;
}

.titulo{
	top: 40%;
	left: 50%; 
	font-size: 54px;
	letter-spacing: 10px;
	width: 80%;
}
.sleap{
	top: 55%;
	left: 50%; 
	font-size: 40px;
	width: 38%;
}
.boton{
	top: 67%;
	left: 50%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}
.boton2{
  	text-align: center;
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
}
.botonfly{
	width: 190px;
  	letter-spacing: 3px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 300px 0px 0px;
}
.cita{
	width: 60%;
	font-size: 32px;
	margin-top: 1260px;
	line-height: 60px;
}
.joseph{
	top: 100%;
	left: 62%;
	font-size: 24px;
}
.tierra{
	width: 300px;
	margin-top: 200px;
	margin-right: 100px;
}
.cajadiscover{
	width: 100%;
	margin-bottom: 60px;
}
.discover1{
	width: 550px;
	margin: 200px 0px 0px 0px;
	font-size: 40px;
}
.discover{
	width: 550px;
	margin: 300px 0px 0px 25px;
	font-size: 40px;
}
.discovertext{
	width: 500px;
	margin: 60px 0px 0px 0px;
	font-size: 16px;
	line-height: 24px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{
	margin: 40px 0px 90px 0px; 
	width: 255px;
	font-size: 16px;
	line-height: 24px;
}
h5{
	font-size: 24px;
}
.supernova{
	width: 500px;
	left: -60px;
	top: -20%;
}
.voyager{
margin-left: 700px !important;
width: 30%;
}
.formtitle{
	width: 550px;
	font-size: 30px;
	margin-left: 60px;
	letter-spacing: 5px;
}
.formulario{
	margin: 0px 0px 0px 60px;
	width: 60%;
}

.espaciotexto{
	width: 100%;
	font-size: 24px;
	margin-top: 5px;
}
.etiquetilla{
	width: 100%;
	font-size: 16px;
	margin-top: 30px;
}
.nodesign{
    width: 100%;
    padding: 5px;
    border: 0;
    height: 34px;
    background-position-x: 100px;
}
}
@media screen and (max-width: 926px){
.navbar{
	display: none;
}

.sombra{
	height: 130px;
}

.logotipo{
	width: 100px;
	margin: 60px 0px 0px 90px;
}

ul{
	margin: 60px 15px 0px 0px !important;
	height: 60px;
}

li{
	margin-left: 50px;
	height: 0px;
}
a{
	font-size: 12px;
}
.discover{
	width: 400px;
	text-align: left;
	margin: 300px 0px 0px 0px;
	font-size: 40px;
	z-index: 5;
}
.flytothemoon{
	margin-left: 300px;
	margin-bottom: 200px;
}

}
@media screen and (max-width: 800px){

.navbar{
	display: none;
}
.sombra{

	height: 120px;
}

.logotipo{

	width: 80px;
	margin: 40px 0px 0px 30px;
}
ul{
	margin: 40px 20px 0px 0px;
	height: 60px;
}

li{
	margin-left: 30px;
	height: 0px;
}

a{
	font-size: 13px;
}
.titulo{
	top: 30%;
	font-size: 32px !important;
	letter-spacing: 10px;
	width: 80%;
}
.sleap{
	top: 45%;
	font-size: 24px;
	width: 60%;
}
.boton{
	top: 57%;
	left: 50%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{
	margin: 40px 0px 30px 0px; 
	width: 145px;
	font-size: 14px;
	font-family: Poppins; 
	color: white;
	line-height: 24px;
}
.discover{
	width: 550px;
	margin: 100px 0px 0px 25px;
	font-size: 40px;
	z-index: 5;
}
.discovertext{
	width: 400px;
	margin: 30px 100px 0px 0px;
	font-size: 12px;
	line-height: 24px;

}
.supernova{
	z-index: -2;
}
.voyager{

margin-left: 440px !important;
width: 40%;
}
.flytothemoon{
	margin-left: 150px;
	margin-bottom: 100px;
}
.nodesign{
	background-position-x: 230px !important;
}
}

@media screen and (max-width: 1280px){
.navvv{
	display: none;
}
}

@media screen and (max-width: 768px){

.navbar{
	display: none !important;
}
.sombra{
	height: 160px;
}
.logotipo{
	width: 90px;
	margin: 40px 0px 0px 40px;
}
ul{
	margin: 40px 40px 0px 0px;
	height: 60px;
}
li{
	margin-left: 30px;
	height: 0px;
	display: flex;
	align-items: center;
}
a{
	font-size: 13px;
}
.discover{
	width: 550px;
	margin: 300px 0px 0px 25px;
	font-size: 40px;
	z-index: 5;
}
.titulo{
	top: 40%;
	font-size: 32px;
	letter-spacing: 10px;
	width: 80%;
}
.sleap{
	top: 47%;
	font-size: 24px;
	width: 60%;
}
.boton{
	top: 57%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
}

.cita{
	width: 60%;
	font-size: 24px;
	margin-top: 760px;
	line-height: 32px;
}
.discover1{
	width: 550px;
	margin: 100px 0px 0px 0px;
	font-size: 40px;
}
.steps{
	justify-content: center;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.step1, .step2, .step3{
	margin: 40px 0px 90px 0px; 
	width: 155px;
	font-size: 16px;
	line-height: 24px;
}
.discovertext{
	width: 400px;
	margin: 60px 100px 0px 0px;
	font-size: 12px;
	line-height: 24px;

}
.flytothemoon{
	margin-left: 150px;
	margin-bottom: 100px;
}
.voyager{

margin-left: 500px !important;
width: 30%;
}
}

/* SMARTPHONE */
@media screen and (max-width: 360px){
	.navegacion{
		display: none;
	}

.navvv{
	position: fixed;
	width: 100%;
	opacity: 0.8;
}
.fondocolor{
opacity: 0.8;
}
.logonav{
	width: 80px;
	margin: 15px 0px 0px 20px;
}
p{
	margin-top: 30px;
}

.cajadiscover{
	width: 100%;
	margin-bottom: 60px;

}
.discover{
	width: 270px !important;
	margin: 20px 0px 0px 0px !important;
	font-size: 20px;
	z-index: 5;
}
.titulo{
	top: 60%;
	font-size: 22px;
	letter-spacing: 5px;
	width: 80%;
}
.cita{
	width: 80%;
	font-size: 16px;
	margin-top: 750px;
	line-height: 22px;
}
.sleap{
	top: 70%;
	font-size: 16px;
	width: 80%;
}
.lunita{
	width: 100%;
	z-index: 0;
	top: 45%;
}
.boton{
	top: 80%;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 10px 15px 10px 15px !important;
}
.tierra{
	width: 150px;
	margin-top: 150px;
	margin-right: 0px;
}
.discover1{
	width: 70% !important;
	margin: 200px 0px 0px 0px;
	font-size: 16px;
}
.steps{
	flex-direction: column;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.step1, .step2, .step3{
	margin: 0px 0px 40px 0px; 
	width: 70%;
	font-size: 12px;
	line-height: 18px;
}
h5{
	font-size: 16px;
}
.boton2{

	border: solid 1px;
  	letter-spacing: 10px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	opacity: 0.7;
  	left: 50%;
}
.cajadiscover{
	width: 100%;
	margin-bottom: 60px;
}
.discover1{
	width: 500px;
	margin: 200px 0px 0px 0px;
	font-size: 30px;
}
.discover{
	width: 700px;
	margin: 300px 0px 0px 325px;
	font-size: 24px;
}
.discovertext{
	width: 100%;
	margin: 30px 150px 0px 0px;
	font-size: 14px;
	line-height: 24px;
}
.flytothemoon{
	margin-bottom: 90px;
}
.botonfly{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 150px 0px 0px;
}
.voyager{
margin-left: 60px;
width: 70%;
}
.formtitle{
	width: 100%;
	font-size: 20px !important;
	margin: 10px !important;
	letter-spacing: 0px;
}
.formulario{
	margin: 0px 0px 0px 15px;
	width: 90%;
}
}
/* IPHONE678 */
@media screen and (max-width: 375px){

.barranav{

	display: block !important;
	z-index: 20;
}

.navegacion{
	display: none !important;
}
.logonav{
	width: 90px;
}

.titulo{

	top: 50%;
	font-size: 20px;
	letter-spacing: 10px;
	width: 80%;
}
.sleap{
	top: 60%;
	font-size: 16px;
	width: 70%;
}
.boton{
	top: 75%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
  	z-index: 3;
}
.lunita{
	top: 30%;
}
.cita{
	width: 80%;
	font-size: 16px;
	margin-top: 760px;
	line-height: 25px;
}
.joseph{
	top: 100%;
	left: 62%;
	font-size: 14px;
}
.tierra{
	width: 150px;
	margin-top: 100px;
	margin-right: 40px;
}
.discover1{
	width: 500px;
	margin: 100px 0px 0px 0px;
	font-size: 20px;
}
.steps{
	flex-direction: column;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.step1, .step2, .step3{
	margin: 0px 0px 50px 0px; 
	width: 265px;
	font-size: 16px;
	line-height: 24px;
}
h5{
	font-size: 14px;
}
.flytothemoon{
	margin-bottom: 90px;
}
.supernova{
	width: 450px;
	left: -150px;
	top: -200px;
	z-index: -1;
}
.discover1{
	width: 500px;
	text-align: center;
	margin: 100px 0px 0px 0px;
	font-size: 30px;
}
.discover{
	width: 300px !important;
	margin: 100px 0px 0px 0px !important;
	font-size: 24px;
}
.discovertext{
	width: 300px;
	margin: 60px 0px 0px 20px;
	font-size: 16px;
	line-height: 24px;
}
.flytothemoon{
	margin-left: 0px;
	margin-bottom: 100px;
}

.botonfly{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
   	font-size: 12px;
  	margin: 60px 0px 0px 0px;
}
.formtitle{
	width: 100%;
	font-size: 22px;
	margin: 0px;
	letter-spacing: 5px;
	line-height: 35px;
}
.formulario{
	margin: 0px 0px 0px 15px;
	width: 90%;
}
.voyager{
margin-left: 20px;
width: 80%;
}
.nodesign{
   
    background-position-x: 250px !important;
}

}

/* IPHONE678PLUS */
@media screen and (max-width: 414px){

.navegacion{
	display: none !important;
}

.navbar{
	display: block !important;
	z-index: 5;
}
.titulo{
	top: 50%;
	font-size: 20px;
	letter-spacing: 10px;
	width: 80%;
}
.logonav{
	width: 90px;
}
.sleap{
	top: 60%;
	font-size: 16px;
	width: 70%;
}
.boton{
	top: 75%;
  	letter-spacing: 8px;
  	font-size: 12px;
  	margin: 4px 2px;
  	padding: 15px 30px 15px 30px;
  	z-index: 3;
}
.lunita{
	width: 100%;
	top: 30%;
	z-index: 0;
}
.cita{
	width: 80%;
	font-size: 16px;
	margin-top: 760px;
	line-height: 25px;
}
.joseph{
	top: 100%;
	left: 62%;
	font-size: 14px;
}
.tierra{
	width: 150px;
	margin-top: 100px;
	margin-right: 40px;
}
.steps{
	flex-direction: column;
	align-items: center; 
	justify-content: space-evenly;
	margin-bottom: 10px;
}
.step1, .step2, .step3{
	margin: 0px 0px 50px 0px; 
	width: 265px;
	font-size: 16px;
	line-height: 24px;
}
h5{
	font-size: 14px;
}
.flytothemoon{
	margin-bottom: 90px;
}
.supernova{
	width: 450px;
	left: 150px;
	top: 120px !important;
	z-index: -1;
}
.discover1{
	width: 500px;
	margin: 100px 0px 0px 0px;
	font-size: 20px;
}
.discover{
	width: 300px !important;
	margin: 60px 0px 0px 0px !important;
	font-size: 24px;
}
.discovertext{
	width: 300px;
	margin: 60px 0px 0px 20px;
	font-size: 16px;
	line-height: 24px;
}
.flytothemoon{
	margin-left: 0px;
	margin-bottom: 100px;
}

.botonfly{
  	letter-spacing: 8px;
  	padding: 15px 30px 15px 30px;
  	font-size: 12px;
  	margin: 60px 0px 0px 0px;
}
.voyager{
margin-left: 20px;
width: 80%;
}

.formtitle{
	width: 80%;
	font-size: 22px;
	letter-spacing: 5px;
	line-height: 35px;
}
.formulario{
	margin: 0px 0px 0px 15px;
	width: 90%;
}
.nodesign{
       background-position-x: 270px;
}
}

/* NEXUS7 */
@media screen and (max-width: 600px){
		
.navegacion{

	width: 100%;
	height: 100px;
	z-index: 5;
}
.navbar{
	display: none;
}
.supernova{
	width: 650px;
	left: -150px;
	top: -200px;
	z-index: -5;
}
.sombra{
	height: 160px;

}
ul{
	margin: 20px 20px 0px 0px;
	height: 60px;
}
li{
	margin-left: 20px !important;
	height: 0px;
}
.logotipo{
	width: 60px;
	margin: 20px 0px 0px 20px;
}
a{
	font-size: 12px;
}
.titulo{
	top: 37%;
	font-size: 34px;
	letter-spacing: 5px;
	width: 80%;
}
.voyager{
	margin-left: 160px !important;
	width: 60%;
}
.formtitle{
	width: 450px;
	font-size: 27px;
	margin-left: 10px;
	margin-bottom: 20px;
	letter-spacing: 3px;
}
.formulario{
	margin: 0px 0px 0px 20px;
	width: 90%;
}
.nodesign{
	background-position-x: 430px !important;
}
}
@media screen and (max-width: 360px){ ___

.titulo{
	font-size: 16px;
	margin-top: 20px;
}
.steps{

	flex direction: column !important;
}

/* SMARTWATCH */
@media screen and (max-width: 320px){

.titulo{
	font-size: 16px !important;
	margin-top: 10px;
}
.sleap{
	font-size: 14px !important;
}
.voyager{
	display: none;
}

.supernova{
	margin-top: 250px;
}
.boton{
	padding: 10px;
	margin-top: 10px;
}
.nodesign{
	background-position-x: 200px;
}

}

/*ANIMACIONES*/

@keyframes aterrizaje{

	0%{
		opacity: 0.5;
		transform: translateY(-50%) scale(0.0);
		
	}

	100%{
		opacity: 1;
		transform: translateY(0%) scale(1);
		
	}
	
}